* {
    box-sizing: border-box;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}


body {
    align-items: center;
    background-image: url("/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    height: 100%;
    width: 80%;
}

root {
    width: 100%;
}

.container {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(16px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 8px;
    display: flex;
    width: 90vw;
    height: auto;
}

.loading {
    padding: 50px;
    font-size: 36px;
    border-radius: 8px;
    background-color: rgba(17, 25, 40, 0.5);
}


@media screen and (max-width: 768px ) {
    .container {
        flex-direction: column;
    }
}
